<main>
    <div class="mainTitle">
        <h1>WELCOME TO BEEFIT</h1>
        <p>text about why people should use this app!</p>
        <div>
            <button id="getstarted"><a href="/profile">LETS GET STARTED!</a></button>
        </div>
    </div>
</main>