<main>
    <div class="mainTitle" data-aos="fade-up">
        <h1>WELCOME TO BEEFIT</h1>
        <p>text about why people should use this app!</p>
        <div>
            <button id="getstarted" data-aos="flip-right"><a href="/profile">LETS GET STARTED!</a></button>
        </div>
    </div>
</main>