<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/homecontent.css">
</head>

<body>
    <div class="mainTitle">
        <h1>WELCOME TO BEEFIT</h1>
        <p>text about why people should use this app!</p>
        <div>
            <button><a href="/profile">LETS GET STARTED!</a></button>
        </div>
    </div>
</body>

</html>